{
    "plugins": [
      [
        "component",
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ],
      ["import", { "libraryName": "ant-design-vue", "libraryDirectory": "lib" }]
    ]
}